.Landing{
    height: 60vh;
    /* background-color: darkcyan; */
    background: linear-gradient(90deg, rgba(78,9,110,1) 0%, rgba(3,3,85,1) 46%, rgba(0,66,20,1) 100%);
}

.content{
    display: flex;
    padding: 7rem 1rem 4rem 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Segoe UI', Roboto, Oxygen ;
    background: -webkit-linear-gradient(45deg, deepskyblue 10%, skyblue 20%, lightseagreen 40%, mediumspringgreen 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}