.nav__container{
    position: absolute;
    background-color: rgba(221, 221, 221, 0.08);
    padding: 1rem;
    width: 100vw;
}

.nav__container p{
    padding: 0rem 2rem;
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}