.nav__container{
    position: sticky;
    /* background-color: rgba(221, 221, 221, 0.08); */
    background-color: rgba(0, 182, 188, 0.5);
    padding: 1rem;
}

p{
    padding: 0rem 2rem;
    display: inline;
    text-decoration: none;
    /* color: white; */
    font-size: 1rem;
}